body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}


ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;}

a {text-decoration: none;}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin:0 auto ;
  }

.title{font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;}
    
 /*************************  Header *************************/

 .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
 }
    


 .header-container {
    display: flex;

    
  
   
 }

 .header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    
}


.hedear-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: center;
        margin-right: 76px;  

}

.hedear-logo span {
        color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        
}

.header-menu-link {
    padding-top: 24px;
        padding-bottom: 24px;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf

}

.studio{
    position: relative;
    color: #404bbf;
}

.studio::after{
    content: "";
    border-radius: 2px;
    height: 4px;
    width: 100%;
    background-color:#404bbf ;
    position: absolute;
    left: 0;
    bottom: -1px;

}

.header-address {
    font-style: normal;
    display: flex;
    align-items: center;
    
}

.header-address-list {
    display: flex;
    align-items: center;
    
    
}

.header-address-item {
    margin-right: 40px;
}

.header-address-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf 
}
/*********************************************************/

/*************************  Hero *************************/

.hero {
    max-width: 1440px;
    background: #2e2f42;
    padding:188px 0;
margin: 0 auto;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bgimg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}



.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    
    
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    min-width: 169px ;
    height: 56px;
    border: none;
    padding: 16px 32px ; 
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
    
}

.hero-btn:hover,
.hero-btn:focus {
background-color: #404BBF;
}

/*************************************************************/

/*************************  Feauters *************************/



.features {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .features-svg-wrap {
    border: 1px solid #8e8f99;
border-radius: 4px;
background-color: #f4f4fd;
width: 264px;
height: auto;
display: flex;
justify-content: center;
align-items: center;
height: 112px;
margin-bottom: 8px;
 }

 .features-icon {

    
    
 }
    
 .features-list { 
    display: flex;
    gap: 24px ;
    margin: 0 auto;

}
.features-item{
    flex-basis: calc((100% - 72px) / 4);}


    
.features-itam-title {
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
            margin-bottom: 8px;
        }
    
.features-itam-text {
            font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
        }
/*********************************************************/

/*************************  Team *************************/

.team {background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    
    
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
width: 264px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-item-content {    
padding: 32px 0;

}

.team-item-img {}

.team-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
 }

.team-item-text {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}

    .team-icon-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin-top: 8px;


    }
    .team-icon-item {
        width: 40px;
        height: 40px;
    }
    .team-icon-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    
.team-icon-link:hover,
.team-icon-link:focus {
    background-color:#404bbf;
}
        
        
      
    
    .team-icon {
        fill: #f4f4fd; 
    }


    /**************************************************************/

    /*************************  Portfolio *************************/

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-title {
    margin-bottom: 72px
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px ;
  }

  .portfolio-item {
background-color: #fff;
flex-basis: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover,
  .portfolio-item:focus{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-item-img {}

  .portfoli-item-content
    { 
border-top:none;  
padding: 32px 16px;
border-right: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-bottom: 1px solid #e7e9fc;
border-top:none;

    }

  .portfolio-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px; 
}

    

  .portfolio-item-text {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-hover-box{position: relative;
overflow: hidden;}

.portfolio-hover-text{ 
    width: 100%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
background-color: #4d5ae5;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-item:hover .portfolio-hover-text,
.portfolio-item:focus .portfolio-hover-text{
    transform: translateY(0%);
    

}

/***********************************************************/

/*************************  Footer *************************/

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}


.footer-content {
    display: flex;
    align-items: center;
    align-items: baseline;
}

.footer-conten-wrap {
margin-right: 120px;}
  
.footer-logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;}

 .footer-logo span {color: #f4f4fd;}

.footer-text {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.footer-social-text {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer-social-item {
    width: 40px;
    height: 40px;
    
}

.footer-social-link {
width: 100%;
height: 100%;
background-color: #4D5AE5 ;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,.footer-social-link:focus
{background-color: #31d0aa;}


.footer-social-icon {
    fill: #f4f4fd;
}

.subscribe-container{
   margin-left: auto;
}

.footer-email-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
margin-bottom: 16px;}

.form-footer{
    display: flex;
    gap: 24px;
}

.footer-email{border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff

}

.footer-email::placeholder{
    font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #ffffff;
}

.footer-btn-email{
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-email-icon{
    fill: #fff;
    margin-left: 16px;
}


/***********************************************************/

/*************************  Modal *************************/

.backdrop{ position: fixed;
    top: 0;
 width: 100%;
height: 100%;
background: rgba(46, 47, 66, 0.4); 
/* opacity: 0;
visibility: hidden;
pointer-events: none; */
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible ;
    pointer-events: auto;
}
.modal{
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
padding: 72px 24px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closebtn{
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius:50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background-color:#e7e9fc;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 0;
}

.icon-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .closebtn:hover, .closebtn:focus {
    background-color:#404bbf;
    border: none;

 
 } 

 .closebtn:hover  .icon-close, .closebtn:focus .icon-close{
    fill: white
 }

.modal-text{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;

}

.modal-form{
    margin-left: 8px;
  
}

.input-container{ 
    margin-bottom: 8px;
}

.modal-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
display: block;
margin-bottom: 4px;
}

.modal-input{
    display: block;
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 40px;
background-color: transparent;
padding-left: 38px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-icon-position{
position: relative;
}

.modal-icon{fill: #2e2f42;
position: absolute;
left: 16px;
top:50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.modal-input:focus{
    border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon{
    fill:#4d5ae5;
}



.modal-textarea-container{
    margin-bottom: 16px;
}

.modal-textarea{
    outline: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
resize: none;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus{
border-color: #4D5AE5;
}

.modal-textarea::placeholder{
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.modal-privacy {
    margin-top: 32px;
    margin-bottom: 24px ;

}

.text-privacy {
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.04em;
color: #8e8f99;
margin-top: 32px;
margin-bottom: 24px;
display: flex;
align-items: center;

}
.facke-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;

}

.real-checkbox:checked + .text-privacy .facke-checkbox {
    border-radius: 2px;
    background-color: #404bbf;
    border: 1px solid #404bbf;
    fill: #f4f4fd;
}

.facke-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

}

.facke-checkbox-icon {
}

.text-privacy a{
    line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}



.modal-btn-submit{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
margin: auto 0;
}
