body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}


ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;}

a {text-decoration: none;}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    max-width: 1158px;
    padding: 0 15px 0 15px;
    margin:0 auto ;
  }

.title{font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;}
    
 /*************************  Header *************************/

 .header {
    border-bottom: 1px solid #e7e9fc
 }
    


 .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    
  
   
 }

 .header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}


.hedear-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: flex;
        align-items: center;
        margin-right: 76px;  

}

.hedear-logo span {
        color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
    padding: 24px 0 24px;}

.header-menu-item {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        
}

.header-menu-link {
    padding-top: 24px;
        padding-bottom: 24px;
    color: #2e2f42
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf

}

.header-address {
    font-style: normal;
    display: flex;
    align-items: center;
    
}

.header-address-list {
    display: flex;
    align-items: center;
    
    
}

.header-address-item {
    margin-right: 40px;
}

.header-address-link{font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;}

.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf 
}
/*********************************************************/

/*************************  Hero *************************/

.hero {
    background: #2e2f42;
    padding:188px 0;
margin: 0 auto;
}


.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
    margin-left: 331px;
    
    
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    display: block;
    min-width: 169px ;
    height: 56px;
    border: none;
    padding: 16px 32px ; 
    border-radius: 4px;
    margin: 0 auto;

    
    
}

.hero-btn:hover,
.hero-btn:focus {
background-color: #404BBF;
}

/*************************************************************/

/*************************  Feauters *************************/



.features {
    padding-top: 120px;
    padding-bottom: 120px;
 }
    
 .features-list { 
    display: flex;
    gap: 24px ;
    margin: 0 auto;
}
.features-item{
    flex-basis: calc((100% - 72px) / 4);}


    
.features-itam-title {
            font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #2e2f42;
                margin-bottom: 8px;
        }
    
.features-itam-text {
            font-size: 16px;
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
        }
/*********************************************************/

/*************************  Team *************************/

.team {background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
width: 264px;
height: 380px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.team-item-content {    
width: 232px;
height: 56px;
padding: 32px 0;

}

.team-item-img {}

.team-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
 }

.team-item-text {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}
    /**************************************************************/

    /*************************  Portfolio *************************/

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-title {
    margin-bottom: 72px
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px ;
  }

  .portfolio-item {
    
    border-right: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-bottom: 1px solid #e7e9fc;
    border-top: none;
width: 360px;
height: 420px;
background-color: #fff;
width: calc((100% - 24 * 3) / 3);
  }

  .portfolio-item-img {}

  .portfoli-item-content
    { 
border-top:none;  
width: 360px;
height: 56px;
padding: 32px 16px;
border-right: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-bottom: 1px solid #e7e9fc;
border-top:none;

    }

  .portfolio-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-left: 16px;
    margin-bottom: 8px; 
}

    

  .portfolio-item-text {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
margin-left: 16px;}
/***********************************************************/

/*************************  Footer *************************/

    .footer {background: #2e2f42;
        padding-top: 100px;
    padding-bottom:100px ;}

    .footer-content{
        width: 264px;
height: 112px;
margin-left:156px ;

    }
    
.footer-logo {font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;}

 .footer-logo span {color: #f4f4fd;}

.footer-text {font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}